@for $i from 1 through 16 {
  .m-#{$i} {
    margin: calc(#{$i} * var(--spacing) * 1px);
  }

  .mx-#{$i} {
    margin-left: calc(#{$i} * var(--spacing) * 1px);
    margin-right: calc(#{$i} * var(--spacing) * 1px);
  }

  .my-#{$i} {
    margin-top: calc(#{$i} * var(--spacing) * 1px);
    margin-bottom: calc(#{$i} * var(--spacing) * 1px);
  }

  .mt-#{$i} {
    margin-top: calc(#{$i} * var(--spacing) * 1px);
  }

  .mb-#{$i} {
    margin-bottom: calc(#{$i} * var(--spacing) * 1px);
  }

  .ml-#{$i} {
    margin-left: calc(#{$i} * var(--spacing) * 1px);
  }

  .mr-#{$i} {
    margin-right: calc(#{$i} * var(--spacing) * 1px);
  }
}
