.link {
  border-radius: calc(var(--spacing) * 1px);
  color: var(--font-color-default);
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: calc(var(--spacing) * 1px);
  padding-bottom: calc(var(--spacing) * 1px);
  padding-left: calc(var(--spacing) * 4px);
  padding-right: calc(var(--spacing) * 4px);
  text-decoration: none;
}

.link:hover {
  background-color: var(--color-neutral-50);
  text-decoration: none;
}

.linkActive {
  background-color: var(--color-neutral-50);
}

@media (prefers-color-scheme: dark) {
  .link:hover {
    background-color: var(--color-neutral-800);
  }

  .linkActive {
    background-color: var(--color-neutral-800);
  }
}
