@import '@bedrock-ui/core/sass/theme/colors.scss';
@import '@bedrock-ui/core/sass/theme/spacing.scss';

.link {
  border-radius: $spacing * 1px;
  color: $font-color-default;
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: $spacing * 1px;
  padding-bottom: $spacing * 1px;
  padding-left: $spacing * 4px;
  padding-right: $spacing * 4px;
}

.link:hover {
  background-color: $color-neutral-100;
  font-weight: 500;
}

.linkActive {
  background-color: $color-neutral-100;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  .link:hover {
    background-color: $color-neutral-800;
  }

  .linkActive {
    background-color: $color-neutral-800;
  }
}
