:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-error-50: #ffebee;
  --color-error-100: #ffcdd2;
  --color-error-200: #ef9a9a;
  --color-error-300: #e57373;
  --color-error-400: #ef5350;
  --color-error-500: #f44336;
  --color-error-600: #e53935;
  --color-error-700: #d32f2f;
  --color-error-800: #c62828;
  --color-error-900: #b71c1c;

  --color-info-50: #e1f5fe;
  --color-info-100: #b3e5fc;
  --color-info-200: #81d4fa;
  --color-info-300: #4fc3f7;
  --color-info-400: #29b6f6;
  --color-info-500: #03a9f4;
  --color-info-600: #039be5;
  --color-info-700: #0288d1;
  --color-info-800: #0277bd;
  --color-info-900: #01579b;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #eeeeee;
  --color-neutral-300: #e0e0e0;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #9e9e9e;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-900: #212121;

  --color-primary-50: #e3f2fd;
  --color-primary-100: #bbdefb;
  --color-primary-200: #90caf9;
  --color-primary-300: #64b5f6;
  --color-primary-400: #42a5f5;
  --color-primary-500: #2196f3;
  --color-primary-600: #1e88e5;
  --color-primary-700: #1976d2;
  --color-primary-800: #1565c0;
  --color-primary-900: #0d47a1;

  --color-success-50: #e8f5e9;
  --color-success-100: #c8e6c9;
  --color-success-200: #a5d6a7;
  --color-success-300: #81c784;
  --color-success-400: #66bb6a;
  --color-success-500: #4caf50;
  --color-success-600: #43a047;
  --color-success-700: #388e3c;
  --color-success-800: #2e7d32;
  --color-success-900: #1b5e20;

  --color-warning-50: #fff8e1;
  --color-warning-100: #ffecb3;
  --color-warning-200: #ffe082;
  --color-warning-300: #ffd54f;
  --color-warning-400: #ffca28;
  --color-warning-500: #ffc107;
  --color-warning-600: #ffb300;
  --color-warning-700: #ffa000;
  --color-warning-800: #ff8f00;
  --color-warning-900: #ff6f00;

  @media (prefers-color-scheme: light) {
    --color-paper: var(--color-white);

    --font-color-default: var(--color-neutral-900);
  }

  @media (prefers-color-scheme: dark) {
    --color-paper: var(--color-neutral-900);

    --font-color-default: var(--color-white);
  }
}

body {
  background-color: var(--color-paper);
}
