:root {
  --font-family-default: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;

  --font-size-default: calc(var(--spacing) * 4px);
}

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
table,
textarea {
  font-family: var(--font-family-default);
}
