:root {
  --font-family-default: 'Roboto', sans-serif;
  --font-size-default: calc(var(--spacing) * 4px);
}

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: var(--font-family-default);
}
