$tabs-border-bottom-color: $color-neutral-200 !default;
$tabs-border-bottom-color-active: $color-primary-600 !default;
$tabs-border-bottom-width: 2px !default;

.tabs {
  border-bottom-color: $tabs-border-bottom-color;
  border-bottom-style: solid;
  border-bottom-width: $tabs-border-bottom-width;
  color: $font-color-default;
  display: flex;

  .tab {
    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 40px;
    margin-bottom: -2px;
    line-height: 24px;
    padding-top: $spacing * 2px;
    padding-bottom: $spacing * 2px;
    padding-left: $spacing * 4px;
    padding-right: $spacing * 4px;

    &.active {
      border-bottom-color: $tabs-border-bottom-color-active;
    }
  }
}
