$textarea-border-color: $color-neutral-400 !default;
$textarea-border-color-error: $color-error-600 !default;
$textarea-border-color-focus: $color-primary-600 !default;
$textarea-border-color-hover: $color-neutral-600 !default;
$textarea-border-color-success: $color-success-600 !default;

$textarea-color-success: $color-success-600 !default;

$textarea-border-radius: $spacing * 1px !default;

$textarea-box-shadow-focus: 0px 0px 0px 4px $color-primary-50 !default;
$textarea-box-shadow-focus-error: 0px 0px 0px 4px $color-error-50 !default;
$textarea-shadow-focus-success: 0px 0px 0px 4px $color-success-50 !default;

.textarea {
  background-color: $color-paper;
  border-color: $textarea-border-color;
  border-radius: $textarea-border-radius;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: $font-color-default;
  font-size: 16px;
  line-height: 24px;
  padding-top: $spacing * 2px - 1px;
  padding-bottom: $spacing * 2px - 1px;
  padding-left: $spacing * 4px;
  padding-right: $spacing * 4px;
  outline: none;
  width: 100%;

  &:focus {
    border-color: $textarea-border-color-focus;
    box-shadow: $textarea-box-shadow-focus;
  }

  &:hover:not(:focus):not(.error):not(.success) {
    border-color: $textarea-border-color-hover;
  }

  &.error {
    border-color: $textarea-border-color-error;

    &:focus {
      box-shadow: $textarea-box-shadow-focus-error;
    }
  }

  &.success {
    border-color: $textarea-border-color-success;

    &:focus {
      box-shadow: $textarea-shadow-focus-success;
    }
  }
}
