.page {
  padding: calc(var(--spacing) * 4px);
  padding-top: calc(var(--spacing) * 40px);
}

h1.heading {
  font-size: calc(var(--spacing) * 32px);
  font-weight: 900;
  line-height: calc(var(--spacing) * 33px);
}

@media (max-width: 600px) {
  h1.heading {
    font-size: calc(var(--spacing) * 16px);
    line-height: calc(var(--spacing) * 17px);
  }

  .subheading {
    font-size: calc(var(--spacing) * 8px);
    line-height: calc(var(--spacing) * 9px);
  }
}

.subheading {
  font-size: calc(var(--spacing) * 10px);
  font-weight: 700;
  line-height: calc(var(--spacing) * 11px);
}

@media (max-width: 600px) {
  .subheading {
    font-size: calc(var(--spacing) * 6px);
  }
}

.actions {
  margin-top: calc(var(--spacing) * 28px);
  margin-bottom: calc(var(--spacing) * 32px);
}

.actions button {
  margin-left: calc(var(--spacing) * 1px);
  margin-right: calc(var(--spacing) * 1px);
  height: calc(var(--spacing) * 16px);
  line-height: calc(var(--spacing) * 12px);
  font-size: calc(var(--spacing) * 5px);
  font-weight: 700;
  padding-left: calc(var(--spacing) * 8px);
  padding-right: calc(var(--spacing) * 8px);
}

.highlights {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.iconContainer {
  background-color: var(--color-primary-600);
  box-sizing: border-box;
  border-radius: calc(var(--spacing) * 16px);
  margin-bottom: calc(var(--spacing) * 4px);
  padding: calc(var(--spacing) * 4px);
  height: 64px;
  width: 64px;
}

.iconContainer svg {
  stroke: var(--color-white);
}
