$breakpoints: () !default;

:root {
  @each $property, $value in $breakpoints {
    --breakpoint-#{$property}: #{$value};
  }
}

@import 'mixins/responsive';
@import 'theme/baseline';
@import 'theme/colors';
@import 'theme/shadows';
@import 'theme/spacing';
@import 'theme/typography';

@import 'components/Alert';
@import 'components/Badge';
@import 'components/Button';
@import 'components/Card';
@import 'components/Checkbox';
@import 'components/ClickableArea';
@import 'components/Divider';
@import 'components/Drawer';
@import 'components/Flex';
@import 'components/Grid';
@import 'components/Header';
@import 'components/Heading';
@import 'components/Hidden';
@import 'components/Highlight';
@import 'components/Link';
@import 'components/List';
@import 'components/Modal';
@import 'components/Radio';
@import 'components/Select';
@import 'components/Switch';
@import 'components/Table';
@import 'components/Tabs';
@import 'components/Text';
@import 'components/Textarea';
@import 'components/TextInput';
