.alert {
  --alert-background-color-error-light: var(--color-error-50);
  --alert-background-color-error-filled: var(--color-error-600);
  --alert-background-color-error-outlined: var(--color-paper);

  --alert-background-color-info-light: var(--color-info-50);
  --alert-background-color-info-filled: var(--color-info-600);
  --alert-background-color-info-outlined: var(--color-paper);

  --alert-background-color-success-light: var(--color-success-50);
  --alert-background-color-success-filled: var(--color-success-600);
  --alert-background-color-success-outlined: var(--color-paper);

  --alert-background-color-warning-light: var(--color-warning-50);
  --alert-background-color-warning-filled: var(--color-warning-600);
  --alert-background-color-warning-outlined: var(--color-paper);

  --alert-border-color-error-outlined: var(--color-error-600);
  --alert-border-color-info-outlined: var(--color-info-600);
  --alert-border-color-success-outlined: var(--color-success-600);
  --alert-border-color-warning-outlined: var(--color-warning-600);

  border-radius: calc(var(--spacing) * 1px);
  padding: calc(var(--spacing) * 4px);
  width: 100%;

  &.error {
    &.filled {
      background-color: var(--alert-background-color-error-filled);
    }

    &.light {
      background-color: var(--alert-background-color-error-light);
    }

    &.outlined {
      background-color: var(--alert-background-color-error-outlined);
      box-shadow: inset 0px 0px 0px 1px var(--alert-border-color-error-outlined);
    }
  }

  &.info {
    &.filled {
      background-color: var(--alert-background-color-info-filled);
    }

    &.light {
      background-color: var(--alert-background-color-info-light);
    }

    &.outlined {
      background-color: var(--alert-background-color-info-outlined);
      box-shadow: inset 0px 0px 0px 1px var(--alert-border-color-info-outlined);
    }
  }

  &.success {
    &.filled {
      background-color: var(--alert-background-color-success-filled);
    }

    &.light {
      background-color: var(--alert-background-color-success-light);
    }

    &.outlined {
      background-color: var(--alert-background-color-success-outlined);
      box-shadow: inset 0px 0px 0px 1px var(--alert-border-color-success-outlined);
    }
  }

  &.warning {
    &.filled {
      background-color: var(--alert-background-color-warning-filled);
    }

    &.light {
      background-color: var(--alert-background-color-warning-light);
    }

    &.outlined {
      background-color: var(--alert-background-color-warning-outlined);
      box-shadow: inset 0px 0px 0px 1px var(--alert-border-color-warning-outlined);
    }
  }
}
