.card {
  --card-background-color: var(--color-paper);
  --card-box-shadow: var(--shadow-1);

  background-color: var(--card-background-color);
  border-radius: calc(var(--spacing) * 1px);
  box-shadow: var(--card-box-shadow);
  padding: calc(var(--spacing) * 5px);
}
