.checkbox-container {
  --checkbox-border-color: var(--color-neutral-400);
  --checkbox-border-color-checked: var(--color-primary-600);
  --checkbox-border-color-error: var(--color-error-600);
  --checkbox-border-color-focus: var(--color-primary-600);
  --checkbox-border-color-hover: var(--color-primary-600);
  --checkbox-border-color-success: var(--color-success-600);

  --checkbox-border-radius: calc(var(--spacing) * 1px);
  --checkbox-border-size: 1px;

  --checkbox-box-shadow-focus: 0px 0px 0px 4px var(--color-primary-50);
  --checkbox-box-shadow-focus-error: 0px 0px 0px 4px var(--color-error-50);
  --checkbox-box-shadow-focus-success: 0px 0px 0px 4px var(--color-success-50);

  --checkbox-background-color: var(--color-paper);
  --checkbox-color: var(--color-primary-600);
  --checkbox-check-color: var(--color-white);
  --checkbox-color-error: var(--color-error-600);
  --checkbox-color-success: var(--color-success-600);

  --checkbox-size: 20px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--checkbox-size) + var(--spacing) * 1px);

  .checkbox-input {
    appearance: none;
    margin: 0;
  }

  .checkbox {
    background-color: var(--checkbox-background-color);
    border-color: var(--checkbox-border-color);
    border-radius: var(--checkbox-border-radius);
    border-style: solid;
    border-width: var(--checkbox-border-size);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: var(--checkbox-size);
    width: var(--checkbox-size);

    &:focus {
      box-shadow: var(--checkbox-box-shadow-focus);
      border-color: var(--checkbox-border-color-focus);
      border-width: 1px;
      outline: none;
    }

    &:hover:not(:focus):not(.error):not(.success) {
      border-color: var(--checkbox-border-color-hover);
    }

    &.checked {
      border-color: var(--checkbox-border-color-checked);
    }

    &.error {
      border-color: var(--checkbox-border-color-error);
      border-width: 1px;

      &:focus {
        box-shadow: var(--checkbox-box-shadow-focus-error);
      }
    }

    &.success {
      border-color: var(--checkbox-border-color-success);
      border-width: 1px;

      &:focus {
        box-shadow: var(--checkbox-box-shadow-focus-success);
      }
    }

    .check-icon {
      background-color: var(--checkbox-color);
      opacity: 1;
      fill: none;
      stroke-width: 2;
      stroke: var(--checkbox-check-color);
      stroke-dasharray: 16;
      stroke-dashoffset: 0;

      &.error {
        background-color: var(--checkbox-color-error);
      }

      &.success {
        background-color: var(--checkbox-color-success);
      }
    }
  }
}
