.divider {
  --divider-color: var(--color-neutral-400);
  --divider-color-light: var(--color-neutral-200);
  --divider-size: 1px;

  border: 0;
  border-bottom-color: var(--divider-color);
  border-bottom-width: var(--divider-size);
  width: 100%;

  @include responsive() using ($key) {
    &.dashed#{$key} {
      border-style: dashed;
    }

    &.dotted#{$key} {
      border-style: dotted;
    }

    &.solid#{$key} {
      border-style: solid;
    }
  }

  &.light {
    border-bottom-color: var(--divider-color-light);
  }
}
