.flex {
  display: flex;

  .full-width {
    width: 100%;
  }

  @include responsive() using ($key) {
    &.align-items-center#{$key} {
      align-items: center;
    }

    &.align-items-end#{$key} {
      align-items: end;
    }

    &.align-items-flex-start#{$key} {
      align-items: flex-start;
    }

    &.align-items-flex-end#{$key} {
      align-items: flex-end;
    }

    &.align-items-normal#{$key} {
      align-items: normal;
    }

    &.align-items-start#{$key} {
      align-items: start;
    }

    &.align-items-stretch#{$key} {
      align-items: stretch;
    }

    &.flex-direction-column#{$key} {
      flex-direction: column;
    }

    &.flex-direction-column-reverse#{$key} {
      flex-direction: column-reverse;
    }

    &.flex-direction-row#{$key} {
      flex-direction: row;
    }

    &.flex-direction-row-reverse#{$key} {
      flex-direction: row-reverse;
    }

    &.justify-content-center#{$key} {
      justify-content: center;
    }

    &.justify-content-end#{$key} {
      justify-content: end;
    }

    &.justify-content-flex-end#{$key} {
      justify-content: flex-end;
    }

    &.justify-content-flex-start#{$key} {
      justify-content: flex-start;
    }

    &.justify-content-left#{$key} {
      justify-content: left;
    }

    &.justify-content-normal#{$key} {
      justify-content: normal;
    }

    &.justify-content-right#{$key} {
      justify-content: right;
    }

    &.justify-content-space-around#{$key} {
      justify-content: space-around;
    }

    &.justify-content-space-between#{$key} {
      justify-content: space-between;
    }

    &.justify-content-space-evenly#{$key} {
      justify-content: space-evenly;
    }

    &.justify-content-start#{$key} {
      justify-content: start;
    }

    &.justify-content-stretch#{$key} {
      justify-content: stretch;
    }
  }
}
