.header {
  --header-background-color: var(--color-paper);
  --header-box-shadow: var(--shadow-1);
  --header-height: calc(var(--spacing) * 16px);

  background-color: var(--header-background-color);
  box-shadow: var(--header-box-shadow);
  box-sizing: border-box;
  display: flex;
  height: var(--header-height);
  padding-top: calc(var(--spacing) * 3px);
  padding-bottom: calc(var(--spacing) * 3px);
  padding-left: calc(var(--spacing) * 4px);
  padding-right: calc(var(--spacing) * 4px);
  width: 100%;

  &.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
