.heading {
  --heading-color: var(--color-neutral-900);
  --heading-color-primary: var(--color-primary-600);
  --heading-font-size-multiplier: 10;
  --heading-font-weight: 500;

  color: var(--heading-color);
  font-weight: var(--heading-font-weight);
  margin: 0;

  &.primary {
    color: var(--heading-color-primary);
  }

  &.white {
    color: var(--color-white);
  }
}

h1.heading {
  font-size: calc(var(--heading-font-size-multiplier) * var(--spacing) * 1px);
  line-height: calc(
    var(--heading-font-size-multiplier) * var(--spacing) * 1px + calc(var(--spacing) * 1px)
  );
}

h2.heading {
  font-size: calc(calc(var(--heading-font-size-multiplier) - 1) * var(--spacing) * 1px);
  line-height: calc(
    calc(var(--heading-font-size-multiplier) - 1) * var(--spacing) * 1px +
      calc(var(--spacing) * 1px)
  );
}

h3.heading {
  font-size: calc(calc(var(--heading-font-size-multiplier) - 2) * var(--spacing) * 1px);
  line-height: calc(
    calc(var(--heading-font-size-multiplier) - 2) * var(--spacing) * 1px +
      calc(var(--spacing) * 1px)
  );
}

h4.heading {
  font-size: calc(calc(var(--heading-font-size-multiplier) - 3) * var(--spacing) * 1px);
  line-height: calc(
    calc(var(--heading-font-size-multiplier) - 3) * var(--spacing) * 1px +
      calc(var(--spacing) * 1px)
  );
}

h5.heading {
  font-size: calc(calc(var(--heading-font-size-multiplier) - 4) * var(--spacing) * 1px);
  line-height: calc(
    calc(var(--heading-font-size-multiplier) - 4) * var(--spacing) * 1px +
      calc(var(--spacing) * 1px)
  );
}

h6.heading {
  font-size: calc(calc(var(--heading-font-size-multiplier) - 5) * var(--spacing) * 1px);
  line-height: calc(
    calc(var(--heading-font-size-multiplier) - 5) * var(--spacing) * 1px +
      calc(var(--spacing) * 1px)
  );
}
