.highlight {
  --highlight-background-color: var(--color-warning-200);

  display: inline-flex;
  color: var(--font-color-default);
  white-space: pre-wrap;

  mark {
    background-color: var(--highlight-background-color);
  }
}
