.link {
  --link-color: var(--color-primary-600);

  color: var(--link-color);
  cursor: pointer;
  display: inline;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.underline {
    text-decoration: underline;
  }
}
