.modal {
  --modal-background-color: var(--color-paper);
  --modal-border-radius: calc(var(--spacing) * 1px);
  --modal-max-height: calc(100vh - 128px);
  --modal-padding: calc(var(--spacing) * 4px);
  --modal-width: 400px;

  background-color: var(--modal-background-color);
  border-radius: var(--modal-border-radius);
  display: none;
  left: 0;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  padding: var(--modal-padding);
  position: fixed;
  right: 0;
  top: 0;
  max-height: var(--modal-max-height);
  overflow-y: auto;
  width: var(--modal-width);
  z-index: 1100;

  &.open {
    display: flex;
    flex-direction: column;
  }

  &.no-padding {
    padding: 0;
  }
}

.modal-overlay {
  background-color: var(--color-black);
  display: none;
  opacity: 0.75;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &.open {
    display: block;
  }
}
