.select {
  --select-border-color: var(--color-neutral-400);
  --select-border-color-error: var(--color-error-600);
  --select-border-color-focus: var(--color-primary-600);
  --select-border-color-hover: var(--color-neutral-600);
  --select-border-color-success: var(--color-success-600);

  --select-color-selected-label: var(--color-neutral-900);
  --select-color-success: var(--color-success-600);

  --select-border-radius: calc(var(--spacing) * 1px);

  --select-box-shadow-focus: 0px 0px 0px 4px var(--color-primary-50);
  --select-box-shadow-focus-error: 0px 0px 0px 4px var(--color-error-50);
  --select-box-shadow-focus-success: 0px 0px 0px 4px var(--color-success-50);

  --select-menu-background-color: var(--color-paper);

  --select-menu-option-background-color-hover: var(--color-neutral-100);
  --select-menu-option-background-color-selected: var(--color-primary-50);

  --select-menu-option-color: var(--color-neutral-900);
  --select-menu-option-color-hover: var(--color-neutral-900);

  position: relative;
  width: 100%;

  .input {
    border-color: var(--select-border-color);
    border-radius: var(--select-border-radius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: var(--select-color-selected-label);
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 24px;
    padding-top: calc(var(--spacing) * 2px - 1px);
    padding-bottom: calc(var(--spacing) * 2px - 1px);
    padding-left: calc(var(--spacing) * 4px);
    padding-right: calc(var(--spacing) * 4px);
    outline: none;
    width: 100%;

    &:focus {
      box-shadow: var(--select-box-shadow-focus);
      border-color: var(--select-border-color-focus);
      border-width: 1px;
      padding-left: calc(var(--spacing) * 4px);
      padding-right: calc(var(--spacing) * 4px);
    }

    &:hover:not(:focus):not(.error):not(.success) {
      border-color: var(--select-border-color-hover);
    }

    &.error {
      border-color: var(--select-border-color-error);
      border-width: 1px;
      padding-left: calc(var(--spacing) * 4px);
      padding-right: calc(var(--spacing) * 4px);

      &:focus {
        box-shadow: var(--select-box-shadow-focus-error);
      }
    }

    &.success {
      border-color: var(--select-border-color-success);
      border-width: 1px;
      padding-left: calc(var(--spacing) * 4px);
      padding-right: calc(var(--spacing) * 4px);

      &:focus {
        box-shadow: var(--select-box-shadow-focus-success);
      }
    }
  }

  .menu {
    border: 1px solid var(--color-neutral-400);
    border-radius: calc(var(--spacing) * 1px);
    box-sizing: border-box;
    box-shadow: var(--shadow-1);
    display: none;
    background-color: var(--select-menu-background-color);
    position: absolute;
    padding: calc(var(--spacing) * 1px);
    width: 100%;
    z-index: 500;

    &.open {
      display: flex;
      flex-direction: column;
      margin-top: calc(var(--spacing) * 2px);
    }

    .option {
      border-radius: calc(var(--spacing) * 1px);
      color: var(--select-menu-option-color);
      cursor: pointer;
      position: relative;
      padding-top: calc(var(--spacing) * 3px);
      padding-bottom: calc(var(--spacing) * 3px);
      padding-left: calc(var(--spacing) * 2px);
      padding-right: calc(var(--spacing) * 2px);

      &:hover {
        background-color: var(--select-menu-option-background-color-hover);
        color: var(--select-menu-option-color-hover);
      }

      &.selected {
        background-color: var(--select-menu-option-background-color-selected);
      }
    }
  }
}
