.tabs {
  --tabs-border-bottom-color: var(--color-neutral-200);
  --tabs-border-bottom-color-active: var(--color-primary-600);
  --tabs-border-bottom-width: 2px;

  border-bottom-color: var(--tabs-border-bottom-color);
  border-bottom-style: solid;
  border-bottom-width: var(--tabs-border-bottom-width);
  color: var(--font-color-default);
  display: flex;

  .tab {
    border-bottom-color: var(--tabs-border-bottom-color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 40px;
    margin-bottom: -2px;
    line-height: 24px;
    padding-top: calc(var(--spacing) * 2px);
    padding-bottom: calc(var(--spacing) * 2px);
    padding-left: calc(var(--spacing) * 4px);
    padding-right: calc(var(--spacing) * 4px);

    &.active {
      border-bottom-color: var(--tabs-border-bottom-color-active);
    }
  }
}
