.text-input {
  --text-input-border-color: var(--color-neutral-400);
  --text-input-border-color-error: var(--color-error-600);
  --text-input-border-color-focus: var(--color-primary-600);
  --text-input-border-color-hover: var(--color-neutral-600);
  --text-input-border-color-success: var(--color-success-600);

  --text-input-color-success: var(--color-success-600);

  --text-input-border-radius: calc(var(--spacing) * 1px);

  --text-input-box-shadow-focus: 0px 0px 0px 4px var(--color-primary-50);
  --text-input-box-shadow-focus-error: 0px 0px 0px 4px var(--color-error-50);
  --text-input-box-shadow-focus-success: 0px 0px 0px 4px var(--color-success-50);

  background-color: var(--color-paper);
  border-color: var(--text-input-border-color);
  border-radius: var(--text-input-border-radius);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: var(--font-color-default);
  font-size: 16px;
  line-height: 24px;
  padding-top: calc(var(--spacing) * 2px - 1px);
  padding-bottom: calc(var(--spacing) * 2px - 1px);
  padding-left: calc(var(--spacing) * 4px);
  padding-right: calc(var(--spacing) * 4px);
  outline: none;
  width: 100%;

  &:focus {
    box-shadow: var(--text-input-box-shadow-focus);
    border-color: var(--text-input-border-color-focus);
    border-width: 1px;
    padding-left: calc(var(--spacing) * 4px);
    padding-right: calc(var(--spacing) * 4px);
  }

  &:hover:not(:focus):not(.error):not(.success) {
    border-color: var(--text-input-border-color-hover);
  }

  &.error {
    border-color: var(--text-input-border-color-error);
    border-width: 1px;
    padding-left: calc(var(--spacing) * 4px);
    padding-right: calc(var(--spacing) * 4px);

    &:focus {
      box-shadow: var(--text-input-box-shadow-focus-error);
    }
  }

  &.success {
    border-color: var(--text-input-border-color-success);
    border-width: 1px;
    padding-left: calc(var(--spacing) * 4px);
    padding-right: calc(var(--spacing) * 4px);

    &:focus {
      box-shadow: var(--text-input-box-shadow-focus-success);
    }
  }
}
