.leftPanel {
  background-color: var(--color-paper);
  border-right: 1px solid;
  border-color: var(--color-neutral-200);
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  padding: 16px;
  position: fixed;
  width: 260px;
}

.leftPanelDivider {
  margin-top: calc(var(--spacing) * 4px);
  margin-bottom: calc(var(--spacing) * 4px);
}
